<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihospital.mapper.LikesMapper" >
  <resultMap id="BaseResultMap" type="com.ihospital.pojo.Likes" >
    <id column="like_id" property="likeId" jdbcType="BIGINT" />
    <result column="physician_id" property="physicianId" jdbcType="BIGINT" />
    <result column="patient_id" property="patientId" jdbcType="BIGINT" />
    <result column="like_date" property="likeDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    like_id, physician_id, patient_id, like_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ihospital.pojo.LikesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from likes
    where like_id = #{likeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from likes
    where like_id = #{likeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ihospital.pojo.LikesExample" >
    delete from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ihospital.pojo.Likes" >
    insert into likes (like_id, physician_id, patient_id, 
      like_date)
    values (#{likeId,jdbcType=BIGINT}, #{physicianId,jdbcType=BIGINT}, #{patientId,jdbcType=BIGINT}, 
      #{likeDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.ihospital.pojo.Likes" >
    insert into likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        like_id,
      </if>
      <if test="physicianId != null" >
        physician_id,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="likeDate != null" >
        like_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        #{likeId,jdbcType=BIGINT},
      </if>
      <if test="physicianId != null" >
        #{physicianId,jdbcType=BIGINT},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="likeDate != null" >
        #{likeDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ihospital.pojo.LikesExample" resultType="java.lang.Integer" >
    select count(*) from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update likes
    <set >
      <if test="record.likeId != null" >
        like_id = #{record.likeId,jdbcType=BIGINT},
      </if>
      <if test="record.physicianId != null" >
        physician_id = #{record.physicianId,jdbcType=BIGINT},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=BIGINT},
      </if>
      <if test="record.likeDate != null" >
        like_date = #{record.likeDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update likes
    set like_id = #{record.likeId,jdbcType=BIGINT},
      physician_id = #{record.physicianId,jdbcType=BIGINT},
      patient_id = #{record.patientId,jdbcType=BIGINT},
      like_date = #{record.likeDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihospital.pojo.Likes" >
    update likes
    <set >
      <if test="physicianId != null" >
        physician_id = #{physicianId,jdbcType=BIGINT},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="likeDate != null" >
        like_date = #{likeDate,jdbcType=DATE},
      </if>
    </set>
    where like_id = #{likeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihospital.pojo.Likes" >
    update likes
    set physician_id = #{physicianId,jdbcType=BIGINT},
      patient_id = #{patientId,jdbcType=BIGINT},
      like_date = #{likeDate,jdbcType=DATE}
    where like_id = #{likeId,jdbcType=BIGINT}
  </update>
</mapper>