<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihospital.mapper.PrescriptionMapper" >
  <resultMap id="BaseResultMap" type="com.ihospital.pojo.Prescription" >
    <id column="prescript_id" property="prescriptId" jdbcType="BIGINT" />
    <result column="patho_id" property="pathoId" jdbcType="BIGINT" />
    <result column="medicine_id" property="medicineId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    prescript_id, patho_id, medicine_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ihospital.pojo.PrescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from prescription
    where prescript_id = #{prescriptId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from prescription
    where prescript_id = #{prescriptId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ihospital.pojo.PrescriptionExample" >
    delete from prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ihospital.pojo.Prescription" >
    insert into prescription (prescript_id, patho_id, medicine_id
      )
    values (#{prescriptId,jdbcType=BIGINT}, #{pathoId,jdbcType=BIGINT}, #{medicineId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ihospital.pojo.Prescription" >
    insert into prescription
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prescriptId != null" >
        prescript_id,
      </if>
      <if test="pathoId != null" >
        patho_id,
      </if>
      <if test="medicineId != null" >
        medicine_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prescriptId != null" >
        #{prescriptId,jdbcType=BIGINT},
      </if>
      <if test="pathoId != null" >
        #{pathoId,jdbcType=BIGINT},
      </if>
      <if test="medicineId != null" >
        #{medicineId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ihospital.pojo.PrescriptionExample" resultType="java.lang.Integer" >
    select count(*) from prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prescription
    <set >
      <if test="record.prescriptId != null" >
        prescript_id = #{record.prescriptId,jdbcType=BIGINT},
      </if>
      <if test="record.pathoId != null" >
        patho_id = #{record.pathoId,jdbcType=BIGINT},
      </if>
      <if test="record.medicineId != null" >
        medicine_id = #{record.medicineId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prescription
    set prescript_id = #{record.prescriptId,jdbcType=BIGINT},
      patho_id = #{record.pathoId,jdbcType=BIGINT},
      medicine_id = #{record.medicineId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihospital.pojo.Prescription" >
    update prescription
    <set >
      <if test="pathoId != null" >
        patho_id = #{pathoId,jdbcType=BIGINT},
      </if>
      <if test="medicineId != null" >
        medicine_id = #{medicineId,jdbcType=BIGINT},
      </if>
    </set>
    where prescript_id = #{prescriptId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihospital.pojo.Prescription" >
    update prescription
    set patho_id = #{pathoId,jdbcType=BIGINT},
      medicine_id = #{medicineId,jdbcType=BIGINT}
    where prescript_id = #{prescriptId,jdbcType=BIGINT}
  </update>
</mapper>